html {
  background-image: radial-gradient(circle at 9.37% 84.09%, #98bfd7 0, #6099bb 50%, #1175a0 100%);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}